@use "../styles/globals.scss" as g;

@mixin user-list-desktop-size() {
  max-height: 90vh;
  max-width: 500px;
  width: 45%;
  height: 100%;
}

@mixin user-list-mobile-size() {
  width: 90%;
  height: 45%;
}

@mixin user-list($light, $background) {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  padding: 2rem;
  border-radius: g.$defaultBorderRadius;
  box-shadow: g.$defaultBoxShadow;
  background: linear-gradient(135deg, $light, $background);
  color: white;
  text-shadow: #00000025 1px 1px 10px;
  border: 3px solid white;
}

.hostContainer {
  width: 100%;
  height: calc(100% - 10rem);
}

.roomHeading {
  font-size: 5rem;
  font-weight: 900;
  color: g.$lightBlue;
  margin: 1rem;
  text-align: center;
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.buzzedList {
  @include user-list-mobile-size();
  @include user-list(g.$lightBlue, g.$blue);
}

.notBuzzedList {
  @include user-list-mobile-size();
  @include user-list(g.$lightOrange, g.$orange);
}

.usersListItem {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.userName {
  font-size: 1.7rem;
  margin: 1rem;
}

.userOrder {
  font-size: 1.7rem;
}

.waitingText {
  color: white;
  margin: auto;
}

.resetButton {
  @include g.default-button(g.$green, white);
  position: absolute;
  bottom: 30px;
}

@media screen and (min-width: 600px) {
  .buzzedList {
    @include user-list-desktop-size();
  }

  .notBuzzedList {
    @include user-list-desktop-size();
  }

  .listContainer {
    flex-direction: row;
  }

  .userName {
    font-size: 3rem;
  }

  .userOrder {
    font-size: 3rem;
  }
}
