@use "./globals.scss" as g;

@mixin room-form($background) {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border: 3px solid white;
  border-radius: g.$defaultBorderRadius;
  background: $background;
  box-shadow: g.$defaultBoxShadow;
  width: 100%;
  max-width: 500px;
}

.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  padding: 2rem;
}

.mainHeading {
  font-size: 3rem;
  font-weight: 900;
  text-shadow: #00000025 0 1px 5px;
}

.joinRoomForm {
  @include room-form(g.$blue);
  flex-grow: 1.5;
  flex-shrink: 1.5;
  min-height: 20rem;
  max-height: 400px;
}

.createRoomForm {
  @include room-form(g.$green);
  flex-grow: 1;
  flex-shrink: 2;
  min-height: 15rem;
  max-height: 300px;
}

.formHeading {
  color: white;
  text-shadow: #00000045 0 1px 3px;
  font-size: 1.7rem;
  margin: 1rem 0;
}

.formLabel {
  font-size: 0.9rem;
  transition: 0.3s;
  transform: translateY(1.6rem);
  pointer-events: none;
  color: #c7c7c7;
  height: 0;
  z-index: 10;
}

.formInput {
  height: 2.5rem;
  border-radius: g.$defaultBorderRadius;
  border: 1px solid g.$lightBlue;
  box-shadow: g.$defaultBoxShadow;
  margin: 1rem;
  padding: 0 1rem;
  width: 80%;
  transition: 0.3s;
  &:focus {
    outline: none;
    transform: scale(1.05);
  }
}

.formButtonJoin {
  @include g.default-button(g.$yellow, white);
}

.formButtonCreate {
  @include g.default-button(g.$blue, white);
}

.errorMessage {
  color: #ff000091;
  font-size: 0.9rem;
}

@media screen and (min-height: 900px) {
  .landingContainer {
    justify-content: center;
  }

  .mainHeading {
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  .formHeading {
    margin: 1.5rem 0;
  }

  .formLabel {
    transform: translateY(2.3rem);
  }

  .formInput {
    padding: 1.8rem 1rem;
  }
}
