@use "./globals" as g;

@mixin buzz-button {
  width: 40vh;
  height: 40vh;
  padding: 2rem;
  border-radius: 50%;
  border: 8px solid white;
  background: linear-gradient(g.$lightBlue, g.$blue);
  font-weight: 600;
  font-size: 2rem;
  color: white;
  transition: 0.3s;
  box-shadow: 0 10px 10px #00000025;
  cursor: pointer;
}

.roomContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roomHeading {
  font-size: 5rem;
  font-weight: 900;
  color: g.$lightBlue;
  margin-top: 3rem;
}

.buzzed {
  color: g.$green;
}

.lineSpan {
  height: 2px;
  width: 70%;
  background: g.$lightBlue;
  margin: 2rem 0;
}

.userName {
  color: g.$lightOrange;
  margin-bottom: 5rem;
  font-weight: 400;
  font-size: 1.3rem;
}

.buzzButton {
  @include buzz-button;
}

.loadingContainer {
  zoom: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingMessage {
  font-size: 5rem;
}

.buzzButtonBuzzed {
  @include buzz-button;
  pointer-events: none;
  background: g.$green;
  box-shadow: none;
}

@media screen and (min-height: 900px) {
  .roomHeading {
    margin-top: 7rem;
  }
}

@media (hover: hover) {
  .buzzButton {
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 10px 30px #00000025;
    }
  }
}
